<header>
    <nav>
        <ul>
            {% for item in header %}
                <li>
                    <a href="{{ item.url }}">{{ item.label }}</a>
                </li>
            {% endfor %}
            {# <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/news">News</a></li> #}
        </ul>
    </nav>
</header>